

     <footer class="footer">
            <div class="footer-content">
                <span>Soham De</span>
                <span>sohamde[at]uw.edu</span>
                <div class="social-links">
                    <a href="https://bsky.app/profile/{{ site.bluesky_username }}" title="Bluesky"><i class="fa-brands fa-bluesky"></i></a>
                    <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
                    <a href="https://scholar.google.com/citations?user={{ site.scholar_username }}" title="Google Scholar"><i class="fa-brands fa-google-scholar"></i></a>
                </div>
            </div>
           <div class="wrapper" style="text-align: center; font-size: smaller">
             © 2025 Kristen Engel <br> This is a simple website&mdash;mostly plaintext and straight HTML&mdash;that hopefully loads fast for everyone. <br> Many thanks to Emily Tseng for creating this template.
  </div>
        </footer>
