<footer class="footer">
            <div class="footer-content">
                <span>© 2025 Kristen Engel</span>
                <div class="social-links">
                    <a href="https://bsky.app/profile/kristenengel.bsky.social" title="Bluesky"><i class="fa-brands fa-bluesky"></i></a>
                    <a href="https://www.linkedin.com/in/kristenengel/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://scholar.google.com/citations?user={{UHy5CWUAAAAJ&hl=en}}" title="Google Scholar"><i class="fa-brands fa-google-scholar"></i></a>
                </div>
            </div>
        </footer>
